body {
    background-image: url('./Images/background.png');
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lilita One', cursive;
    color: #f6ffa5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

#Requin_Rose {
    width: 350px;
    height: 350px;
    cursor: pointer;
    transition: transform 0.1s;
}

#Compteur {
    font-size: 40px;
    color: black;
    font-family: 'Lilita One', cursive;
}

#Bouton_Bonus {
    background-color: #f294cb;
    border: 3px solid #000000;
    border-radius: 15px;
    color: #f6ffa5;
    text-align: center;
    font-size: 22px;
    margin: 2% 0;
    width: 75%;
    font-family: 'Lilita One', cursive;
}


#Bouton_Bonus:hover{
    background-color: #f294cb;
    border: 3px solid #000000;
    box-shadow: 5px 4px 4px #042182;
    color: #f6ffa5;
    text-align: center;
    font-size: 22px;
    font-family: 'Lilita One', cursive;
}

#Bouton_Bonus:active{
    background-color: #f6ffa5;
    border: 3px solid #000000;
    box-shadow: 10px 5px 5px #042182;
    color: #f294cb;
    text-align: center;
    font-size: 22px;
    font-family: 'Lilita One', cursive;
}

#Bouton_AutoShark {
    background-color: #f294cb;
    border: 3px solid #000000;
    border-radius: 15px;
    color: #f6ffa5;
    text-align: center;
    font-size: 22px;
    margin: 2% 0;
    width: 75%;
    font-family: 'Lilita One', cursive;
}


#Bouton_AutoShark:hover{
    background-color: #f294cb;
    border: 3px solid #000000;
    box-shadow: 5px 4px 4px #042182;
    color: #f6ffa5;
    text-align: center;
    font-size: 22px;
    font-family: 'Lilita One', cursive;
}

#Bouton_AutoShark:active{
    background-color: #f6ffa5;
    border: 3px solid #000000;
    box-shadow: 10px 5px 5px #042182;
    color: #f294cb;
    text-align: center;
    font-size: 22px;
    font-family: 'Lilita One', cursive;
}

#SharkyImage {
    position: fixed;
    width: 120px;
    height: 110px;
    top: 3%;
    left: 3%;
    z-index: 9999;
}

#Dark_Sharky {
    position: fixed;
    width: 120px;
    height: 110px;
    top: 3%;
    left: 3%;
    z-index: 9998;
}